/* Landscape */
@media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: landscape) {
  /* Styles! */

  #wrapper {
    width: 375px;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 0 20px;
  }

  img#hero-mobile {
    width: 410px;
    height: 233px;
    visibility: visible;
  }
}
